# Basic Rails config.
RACK_ENV=development
RAILS_ENV=development
PORT=3000

# Postgres credentials.
DB_NAME=arike
DB_NAME_TEST=arike_test
DB_HOST=localhost
DB_USERNAME=postgres_username
DB_PASSWORD=postgres_password

#TWILIO
TWILIO_AUTH_TOKEN=twilio_auth_token
TWILIO_ACCOUNT_SENDER_ID=twilio_sender_id
TWILIO_SENDER_NUMBER=twilo_sender_number

#MAILTRAP
MAILTRAP_USERNAME=mailtrap_username
MAILTRAP_PASSWORD=mailtrap_password
MAILTRAP_ADDRESS=smtp.mailtrap.io
MAILTRAP_DOMAIN=smtp.mailtrap.io
MAILTRAP_PORT=mailtrap_port
MAILTRAP_AUTHENTICATION=cram_md5