<%=content_for(:tail) do %>
  <%= javascript_pack_tag 'PhysicalSymptomPack' %>
<% end %>

<script type="text/json" id="physical-symptoms-form-data">
  <%= info.to_json.html_safe %>
</script>

<%= form_with url: new_visit_physical_symptom_path(visit), method: :post do |form| %>
  <div id="physical-symptoms-form"></div>
<% end %>
