<%=content_for(:tail) do %>
  <%= javascript_pack_tag 'GeneralHealthInfoPack' %>
<% end %>

<script type="text/json" id="general-health-information-form-data">
  <%= info.to_json.html_safe %>
</script>

<%= form_with url: new_visit_general_information_path(visit), method: :post do |form| %>
  <div id="general-health-information-form"></div>
<% end %>
