<%=content_for(:tail) do %>
  <%= javascript_pack_tag 'PsychologicalReviewPack' %>
<% end %>

<script type="text/json" id="psychological-review-form-data">
  <%= info.to_json.html_safe %>
</script>

<%= form_with url: patient_new_visit_psychological_review_path(patient,visit), method: :post do |form| %>
  <div id="psychological-review-form"></div>
<% end %>
