<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
  <div class="text-2xl font-bold">Unverified users</div>
  <div class="mt-5">
    <%=render "users_table", users: User.unverified %>
  </div>
  <div class="text-2xl font-bold mt-5">Verified users</div>
  <div class="mt-5">
    <%=render "users_table", users: User.verified %>
  </div>
</div>
