<header>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-6">
    <h1 class="text-3xl font-bold leading-tight text-gray-900">New Facility</h1>
  </div>
</header>
<%= render "form", facility: @facility, lsg_body: LsgBody.all.select(:id, :name), ward: Ward.all.select(:id, :number), secondary_facilities: Facility.secondary_facilities %>
