<div class="flex items-start">
  <div class="flex items-center h-5">
    <%= form.check_box "volunteer[#{user_id}]", class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
  </div>
  <div class="ml-3 text-sm">
    <%= form.label "volunteer[#{user_id}]", user_name, class: "font-medium text-gray-700" %>
  </div>
</div>
