<%=content_for(:tail) do %>
  <%= javascript_pack_tag 'PatientsPack', "data-turbo-track": "reload", nonce: true %>
<% end %>

<script type="text/json" id="patients-data">
  {
    "patients": <%= @patients.to_json.html_safe %>
  }
</script>

<div id="patients"></div>