<div class="shadow overflow-hidden sm:rounded-md">
  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
    <fieldset>
      <div class="mt-4 space-y-4">
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input
              id="comments"
              name="comments"
              type="checkbox"
              class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
            />
          </div>
          <div class="ml-3 text-sm">
            <label for="comments" class="font-medium text-gray-700"
              >Comments</label
            >
          </div>
        </div>
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input
              id="candidates"
              name="candidates"
              type="checkbox"
              class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
            />
          </div>
          <div class="ml-3 text-sm">
            <label for="candidates" class="font-medium text-gray-700"
              >Candidates</label
            >
          </div>
        </div>
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input
              id="offers"
              name="offers"
              type="checkbox"
              class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
            />
          </div>
          <div class="ml-3 text-sm">
            <label for="offers" class="font-medium text-gray-700">Offers</label>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
