<%=content_for(:tail) do %>
  <%= javascript_pack_tag 'TreatmentPack' %>
<% end %>
<div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
  <h1 class="text-3xl font-bold leading-tight text-gray-900">Treatments</h1>
</div>
<div id="treatment">
  <div id="multi-select"></div>
</div>
