<% if flash[:alert] %>
  <div
    class="relative px-4 py-3 leading-normal text-white bg-red-700 rounded-lg mx-2 mb-2"
    role="alert"
  >
    <span class="absolute inset-y-0 left-0 flex items-center ml-4">
      <i class="fas fa-exclamation-triangle text-white"></i>
    </span>
    <p class="ml-8">
      <%= flash[:alert] %>
    </p>
    <span
      class="absolute inset-y-0 right-0 flex items-center mr-4 cursor-pointer"
      onclick="this.parentNode.style.display='none'"
    >
      <i class="fas fa-times text-white"></i>
    </span>
  </div>
<% elsif flash[:notice] %>
  <div
    class="relative px-4 py-3 leading-normal text-green-900 bg-yellow-500 rounded-lg mx-2 mb-2"
    role="alert"
  >
    <span class="absolute inset-y-0 left-0 flex items-center ml-4">
      <i class="fas fa-check-circle text-gray-100"></i>
    </span>
    <p class="ml-8">
      <%= flash[:notice] %>
    </p>
    <span
      class="absolute inset-y-0 right-0 flex items-center mr-4 cursor-pointer"
      onclick="this.parentNode.style.display='none'"
    >
      <i class="fas fa-times text-white"></i>
    </span>
  </div>
<% end %>
